<!-- products.handlebars -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
    <link rel="stylesheet" href="/css/products.css">
</head>

<body>
    <div class="container">
        <h1>Productos Disponibles</h1>
        <ul>
            {{#each products}}
            <li>
                <h2>{{title}}</h2>
                <p>Descripción: {{description}}</p>
                <p>Precio: {{price}}</p>
                <p>Stock: {{stock}}</p>
                <form action="/api/cart/add" method="POST">
                    <input type="hidden" name="productId" value="{{code}}">
                    <label for="quantity">Cantidad:</label>
                    <input type="number" id="quantity" name="quantity" value="1" min="1" max="{{stock}}">
                    <button type="submit">Agregar al carrito</button>
                </form>
            </li>
            {{/each}}
        </ul>
    </div>
</body>

</html>